!!!
%html
  %head
    %title Itravel
    = stylesheet_link_tag    'application'
    = csrf_meta_tags
  %body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              %h3.masthead-brand Cover
              %ul.nav.masthead-nav
                %li.active
                  %a{:href => "#"} Home
                %li
                  %a{:href => "#"} Features
                %li
                  %a{:href => "#"} Contact
          .inner.cover
            %h1.cover-heading iTravel.
            %p.lead 
              Put something here describing what iTravel can do to you travelling needs. You can create and share your itinerary from different places in our quick generate templates.
            %p.lead
              %a.btn.btn-lg.btn-default{:href => "#"} Learn more
          .mastfoot
            .inner
      = javascript_include_tag 'application'